body {
  font-size: 20px; }

.title_prog {
  color: #fff;
  text-align: center;
  margin-top: 40px; 
  margin-bottom: 50px }

.text_prog p {
  margin-top: 40px;
  color: #fff;
  text-align: center;
  font-size: 24px; }

.number p {
  color: #fff;
  text-align: center;
  margin-top: 30px; }

.images {
  text-align: center;
  margin-top: 60px; }
  .images img {
    max-width: 38%;
    text-align: center; }

.container {
  margin-bottom: 15px; }

.chapters {
  width: 200px;
  display: flex;
  margin: auto;
  border: 3px solid #fff;
  opacity: 0.65;
  background-color: #000;
  border-radius: 5px; } 

.chapters a {
  text-align: center;
  color : #fff;
  text-decoration: none;
  padding: 0 0 0 50px; }

.chapters:hover {
  background-color: #6aa4b8;
  transition: .3s; }

.chapters:active {
  border: #000; }  

.chaptersh3 {
  text-align: center; }

.task {
  border: 3px solid #fff; 
  border-radius: 5px;
  padding: 10px 30px;
  text-align: center; 
  margin-bottom: 30px; }  

.task p {
  color: #fff; }

.task_example { 
  border: 3px solid rgb(243, 83, 83); 
  border-radius: 5px;
  padding: 10px 30px;
  text-align: center; 
  margin-bottom: 30px; }

.task_example {
  color: #fff;
}

.task_refresh p {
  color: #000; }  

.footer_copyright {
  background-color:#6aa4b8;
  height: 10px;
  margin-bottom: 40px; }

.footer_copyright:hover {
  text-decoration: underline; }

.footer_copyright a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 15px; }

.footer_copyright p {
  margin-top: 50px; }

@font-face {
  font-family: "ArianAMURegular";
  src: url("../fonts/ArianAMURegular/ArianAMURegular.ttf"); }

body {
  background-color: #6aa4b8;
  font-family: "ArianAMURegular"; }


/* Styles go here */

table, td {
    border: 1px solid #cecece;
    padding: 10px;
}

thead {
    font-weight: 700;
}

.male td {
    background-color: #65bff3;
}

.female td {
    background-color: #932bb3;
}

.available td {
    border: 2px solid green;
}

.unavailable td {
    border: 2px solid red;
}